# Dependency directories (remove the comment below to include it)
# vendor/
### https://raw.github.com/github/gitignore/967cd6479319efde70a6fa44fa1bfa02020f2357/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.vscode/


